.car-header-list {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.car-header:hover,
.car-header-active:hover,
.car-header-active {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-weight: 500;
}

.car-readonly-row {
  margin-bottom: 1rem;
}

.car-readonly-input-content {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
}

.car-form-image {
  height: 250px;
}
